<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>share_icon</string>
		<key>image</key>
		<string>share</string>
		<key>title</key>
		<string>分享</string>
		<key>titleColor</key>
		<string>#FFFFFF</string>
		<key>description</key>
		<string>CityU的点点滴滴</string>
		<key>descColor</key>
		<string>#5AD5A8</string>
		<key>color</key>
		<string>#112946</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>interact_icon</string>
		<key>image</key>
		<string>interact</string>
		<key>title</key>
		<string>有趣</string>
		<key>titleColor</key>
		<string>#FFD300</string>
		<key>description</key>
		<string>不同的互动体验</string>
		<key>descColor</key>
		<string>#4FC3F7</string>
		<key>color</key>
		<string>#32427D</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>checkin_icon</string>
		<key>image</key>
		<string>checkin</string>
		<key>title</key>
		<string>签到</string>
		<key>titleColor</key>
		<string>#FECD11</string>
		<key>description</key>
		<string>每日打开涨经验</string>
		<key>descColor</key>
		<string>#FFFFFF</string>
		<key>color</key>
		<string>#6371C6</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>language_icon</string>
		<key>image</key>
		<string>language</string>
		<key>title</key>
		<string>支持</string>
		<key>titleColor</key>
		<string>#FFFFFF</string>
		<key>description</key>
		<string>多种语言</string>
		<key>descColor</key>
		<string>#FDDE9D</string>
		<key>color</key>
		<string>#D16565</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>login_icon</string>
		<key>color</key>
		<string>#112946</string>
	</dict>
</array>
</plist>
